.card {
    display: flex;
    flex-direction: column;
}

.card .description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card .mt-auto {
    margin-top: auto;
}

.card .card-header {
    background: none;
}

.card .card-footer {
    background: none;
}

/* Floating label container */
.floating-label {
    position: relative;
    margin-bottom: 1.5rem;
}

/* Input field */
.floating-label input,
.floating-label textarea {
    width: 100%;
    padding: 1rem 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none;
}

/* Label */
.floating-label label {
    position: absolute;
    top: 1rem;
    left: 0.5rem;
    font-size: 1rem;
    color: #999;
    pointer-events: none;
    transition: all 0.2s ease;
}

/* Input field with focus or text */
.floating-label input:focus + label,
.floating-label input:not(:placeholder-shown) + label,
.floating-label textarea:focus + label,
.floating-label textarea:not(:placeholder-shown) + label {
    top: -0.5rem;
    left: 0.5rem;
    font-size: 0.75rem;
    color: #333;
    background: white;
    padding: 0 0.25rem;
}

.thick-icon {
    stroke-width: 2px; /* Adjust the thickness as needed */
}

.notification-icon {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 10px;
    cursor: 'pointer';
}

.notification-icon .text-dark {
    font-size: 1.25em;
    cursor: 'pointer';
}

.notification-dropdown {
    width: 400px; /* Adjust the width as needed */
}

.notification-card {
    width: 100%;
    border: none;
}

.notification-card .card-body {
    padding: 10px;
}

.notification-card .list-group-item {
    background-color: #cccccce7;
    padding: 5px;
    font-size: 14px;

}
.avatar-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.avatar-img-header {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
}