.new-card {
    border: none !important
}

.border-left-only {
    margin-top: 0px;
    border: none !important;
    border-left: 1px solid rgb(148, 148, 148) !important; /* Reduced the width from 2px to 1px */
    border-radius: 0 !important;
}

.badge {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1em;
    border: 1px solid #ccc;
    background-color: #f8f9fa;
    cursor: pointer;
}

.badge:hover {
    background-color: #e2e6ea;
}
